= render "shared/header"
.tweets-index
  .tweets-index__header
    %p.tweets-index__header__title ホーム
    = link_to root_path do
      = fa_icon "repeat", class: "tweets-index__header__reload"
  .tweets-index__main
    .tweets-contents
      .tweets-contents__left
        .tweets-contents__left__icon
          = link_to root_path do
            = image_tag src = 'goku.png', class: "tweet-icon"
      .tweets-contents__right
        .tweets-contents__right__top
          = link_to "孫正義", new_user_registration_path, class: "tweets-contents__right__top__name"
          .tweets-contents__right__top__time
            %p 2019/10/15 12:35
        = link_to new_user_registration_path, class: "tweets-contents__right__main" do
          %p ひゃん？
        .tweets-contents__right__bottom
          .tweets-contents__right__bottom__comment
            = link_to root_path do
              = fa_icon "comment", class: "tweets-contents__right__bottom__comment__icon"
              = link_to "", root_path, class: "tweets-contents__right__bottom__comment__length"
          .tweets-contents__right__bottom__like
            = link_to root_path do
              = fa_icon "heart", class: "tweets-contents__right__bottom__like__icon"
              = link_to "1", root_path, class: "tweets-contents__right__bottom__like__length"
    .tweets-contents
      .tweets-contents__left
        .tweets-contents__left__icon
          = link_to root_path do
            = image_tag src = 'goku.png', class: "tweet-icon"
      .tweets-contents__right
        .tweets-contents__right__top
          = link_to "孫正義", new_user_registration_path, class: "tweets-contents__right__top__name"
          .tweets-contents__right__top__time
            %p 2019/10/15 12:35
        = link_to new_user_registration_path, class: "tweets-contents__right__main" do
          %p なんばスカイオは、大阪市中央区難波にある複合商業施設。南海電気鉄道がかつて本社を置いていた南海会館ビルの跡地に建てられた超高層ビルであるなんばスカイオは、大阪市中央区難波にある複合商業施設。南海電気鉄道がかつて本社を置いていた南海会館ビルの跡地に建てられた超高層ビルであるなんばスカイオは、大阪市中央区難波にある複合商業施設。南海電気鉄道がかつて本社を置いていた南海会館ビルの跡地に建てられた超高層ビルであるなんばスカイオは、大阪市中央区難波にある複合商業施設。南海電気鉄道がかつて本社を置いていた南海会館ビルの跡地に建てられた超高層ビルであるなんばスカイオは、大阪市中央区難波にある複合商業施設。南海電気鉄道がかつて本社を置いていた南海会館ビルの跡地に建てられた超高層ビルであるなんばスカイオは、大阪市中央区難波にある複合商業施設。南海電気鉄道がかつて本社を置いていた南海会館ビルの跡地に建てられた超高層ビルである
        .tweets-contents__right__bottom
          .tweets-contents__right__bottom__comment
            = link_to root_path do
              = fa_icon "comment", class: "tweets-contents__right__bottom__comment__icon"
              = link_to "12", root_path, class: "tweets-contents__right__bottom__comment__length"
          .tweets-contents__right__bottom__like
            = link_to root_path do
              = fa_icon "heart", class: "tweets-contents__right__bottom__like__icon"
              = link_to "56", root_path, class: "tweets-contents__right__bottom__like__length"
    .tweets-contents
      .tweets-contents__left
        .tweets-contents__left__icon
          = link_to root_path do
            = image_tag src = 'goku.png', class: "tweet-icon"
      .tweets-contents__right
        .tweets-contents__right__top
          = link_to "孫正義", new_user_registration_path, class: "tweets-contents__right__top__name"
          .tweets-contents__right__top__time
            %p 2019/10/15 12:35
        = link_to new_user_registration_path, class: "tweets-contents__right__main" do
          %p まさよしでぇええぇええぇぇぇぇぇすう。
        .tweets-contents__right__bottom
          .tweets-contents__right__bottom__comment
            = link_to root_path do
              = fa_icon "comment", class: "tweets-contents__right__bottom__comment__icon"
              = link_to "124", root_path, class: "tweets-contents__right__bottom__comment__length"
          .tweets-contents__right__bottom__like
            = link_to root_path do
              = fa_icon "heart", class: "tweets-contents__right__bottom__like__icon"
              = link_to "5678", root_path, class: "tweets-contents__right__bottom__like__length"
    .tweets-contents
      .tweets-contents__left
        .tweets-contents__left__icon
          = link_to root_path do
            = image_tag src = 'goku.png', class: "tweet-icon"
      .tweets-contents__right
        .tweets-contents__right__top
          = link_to "孫正義", new_user_registration_path, class: "tweets-contents__right__top__name"
          .tweets-contents__right__top__time
            %p 2019/10/15 12:35
        = link_to new_user_registration_path, class: "tweets-contents__right__main" do
          %p ひゃん？
        .tweets-contents__right__bottom
          .tweets-contents__right__bottom__comment
            = link_to root_path do
              = fa_icon "comment", class: "tweets-contents__right__bottom__comment__icon"
              = link_to "", root_path, class: "tweets-contents__right__bottom__comment__length"
          .tweets-contents__right__bottom__like
            = link_to root_path do
              = fa_icon "heart", class: "tweets-contents__right__bottom__like__icon"
              = link_to "1", root_path, class: "tweets-contents__right__bottom__like__length"
    .tweets-contents
      .tweets-contents__left
        .tweets-contents__left__icon
          = link_to root_path do
            = image_tag src = 'goku.png', class: "tweet-icon"
      .tweets-contents__right
        .tweets-contents__right__top
          = link_to "孫正義", new_user_registration_path, class: "tweets-contents__right__top__name"
          .tweets-contents__right__top__time
            %p 2019/10/15 12:35
        = link_to new_user_registration_path, class: "tweets-contents__right__main" do
          %p なんばスカイオは、大阪市中央区難波にある複合商業施設。南海電気鉄道がかつて本社を置いていた南海会館ビルの跡地に建てられた超高層ビルであるなんばスカイオは、大阪市中央区難波にある複合商業施設。南海電気鉄道がかつて本社を置いていた南海会館ビルの跡地に建てられた超高層ビルであるなんばスカイオは、大阪市中央区難波にある複合商業施設。南海電気鉄道がかつて本社を置いていた南海会館ビルの跡地に建てられた超高層ビルであるなんばスカイオは、大阪市中央区難波にある複合商業施設。南海電気鉄道がかつて本社を置いていた南海会館ビルの跡地に建てられた超高層ビルであるなんばスカイオは、大阪市中央区難波にある複合商業施設。南海電気鉄道がかつて本社を置いていた南海会館ビルの跡地に建てられた超高層ビルであるなんばスカイオは、大阪市中央区難波にある複合商業施設。南海電気鉄道がかつて本社を置いていた南海会館ビルの跡地に建てられた超高層ビルである
        .tweets-contents__right__bottom
          .tweets-contents__right__bottom__comment
            = link_to root_path do
              = fa_icon "comment", class: "tweets-contents__right__bottom__comment__icon"
              = link_to "12", root_path, class: "tweets-contents__right__bottom__comment__length"
          .tweets-contents__right__bottom__like
            = link_to root_path do
              = fa_icon "heart", class: "tweets-contents__right__bottom__like__icon"
              = link_to "56", root_path, class: "tweets-contents__right__bottom__like__length"
    .tweets-contents
      .tweets-contents__left
        .tweets-contents__left__icon
          = link_to root_path do
            = image_tag src = 'goku.png', class: "tweet-icon"
      .tweets-contents__right
        .tweets-contents__right__top
          = link_to "孫正義", new_user_registration_path, class: "tweets-contents__right__top__name"
          .tweets-contents__right__top__time
            %p 2019/10/15 12:35
        = link_to new_user_registration_path, class: "tweets-contents__right__main" do
          %p まさよしでぇええぇええぇぇぇぇぇすう。
        .tweets-contents__right__bottom
          .tweets-contents__right__bottom__comment
            = link_to root_path do
              = fa_icon "comment", class: "tweets-contents__right__bottom__comment__icon"
              = link_to "124", root_path, class: "tweets-contents__right__bottom__comment__length"
          .tweets-contents__right__bottom__like
            = link_to root_path do
              = fa_icon "heart", class: "tweets-contents__right__bottom__like__icon"
              = link_to "5678", root_path, class: "tweets-contents__right__bottom__like__length"
    .tweets-contents
      .tweets-contents__left
        .tweets-contents__left__icon
          = link_to root_path do
            = image_tag src = 'goku.png', class: "tweet-icon"
      .tweets-contents__right
        .tweets-contents__right__top
          = link_to "孫正義", new_user_registration_path, class: "tweets-contents__right__top__name"
          .tweets-contents__right__top__time
            %p 2019/10/15 12:35
        = link_to new_user_registration_path, class: "tweets-contents__right__main" do
          %p ひゃん？
        .tweets-contents__right__bottom
          .tweets-contents__right__bottom__comment
            = link_to root_path do
              = fa_icon "comment", class: "tweets-contents__right__bottom__comment__icon"
              = link_to "", root_path, class: "tweets-contents__right__bottom__comment__length"
          .tweets-contents__right__bottom__like
            = link_to root_path do
              = fa_icon "heart", class: "tweets-contents__right__bottom__like__icon"
              = link_to "1", root_path, class: "tweets-contents__right__bottom__like__length"
    .tweets-contents
      .tweets-contents__left
        .tweets-contents__left__icon
          = link_to root_path do
            = image_tag src = 'goku.png', class: "tweet-icon"
      .tweets-contents__right
        .tweets-contents__right__top
          = link_to "孫正義", new_user_registration_path, class: "tweets-contents__right__top__name"
          .tweets-contents__right__top__time
            %p 2019/10/15 12:35
        = link_to new_user_registration_path, class: "tweets-contents__right__main" do
          %p なんばスカイオは、大阪市中央区難波にある複合商業施設。南海電気鉄道がかつて本社を置いていた南海会館ビルの跡地に建てられた超高層ビルであるなんばスカイオは、大阪市中央区難波にある複合商業施設。南海電気鉄道がかつて本社を置いていた南海会館ビルの跡地に建てられた超高層ビルであるなんばスカイオは、大阪市中央区難波にある複合商業施設。南海電気鉄道がかつて本社を置いていた南海会館ビルの跡地に建てられた超高層ビルであるなんばスカイオは、大阪市中央区難波にある複合商業施設。南海電気鉄道がかつて本社を置いていた南海会館ビルの跡地に建てられた超高層ビルであるなんばスカイオは、大阪市中央区難波にある複合商業施設。南海電気鉄道がかつて本社を置いていた南海会館ビルの跡地に建てられた超高層ビルであるなんばスカイオは、大阪市中央区難波にある複合商業施設。南海電気鉄道がかつて本社を置いていた南海会館ビルの跡地に建てられた超高層ビルである
        .tweets-contents__right__bottom
          .tweets-contents__right__bottom__comment
            = link_to root_path do
              = fa_icon "comment", class: "tweets-contents__right__bottom__comment__icon"
              = link_to "12", root_path, class: "tweets-contents__right__bottom__comment__length"
          .tweets-contents__right__bottom__like
            = link_to root_path do
              = fa_icon "heart", class: "tweets-contents__right__bottom__like__icon"
              = link_to "56", root_path, class: "tweets-contents__right__bottom__like__length"
    .tweets-contents
      .tweets-contents__left
        .tweets-contents__left__icon
          = link_to root_path do
            = image_tag src = 'goku.png', class: "tweet-icon"
      .tweets-contents__right
        .tweets-contents__right__top
          = link_to "孫正義", new_user_registration_path, class: "tweets-contents__right__top__name"
          .tweets-contents__right__top__time
            %p 2019/10/15 12:35
        = link_to new_user_registration_path, class: "tweets-contents__right__main" do
          %p まさよしでぇええぇええぇぇぇぇぇすう。
        .tweets-contents__right__bottom
          .tweets-contents__right__bottom__comment
            = link_to root_path do
              = fa_icon "comment", class: "tweets-contents__right__bottom__comment__icon"
              = link_to "124", root_path, class: "tweets-contents__right__bottom__comment__length"
          .tweets-contents__right__bottom__like
            = link_to root_path do
              = fa_icon "heart", class: "tweets-contents__right__bottom__like__icon"
              = link_to "5678", root_path, class: "tweets-contents__right__bottom__like__length"
