= render "shared/header"
.tweets-index
  .tweets-index__header
    %p.tweets-index__header__title ホーム/投稿
    = link_to new_tweet_path do
      = fa_icon "repeat", class: "tweets-index__header__reload"
  .tweet-box
    .tweet-box__left
      .tweet-box__left__icon
        = link_to user_path(current_user.id) do
          = image_tag src = 'goku.png', class: "tweet-icon"
    .tweet-box__right
      = form_tag('/tweets', method: :post) do
        .post-form
          %textarea{name: "content", placeholder: "いまなにしてる？", class: "tweet-box__right__input"}
          %input{type: "submit", value: "投稿する", href: "/tweets", class: "field-button"}
      -# = form_for @tweet do |f|
      -#   = f.text_area :content, autofocus: true, class:"tweet-box__right__input", placeholder:"いまなにしてる？"
      -#   = f.submit "投 稿", class:"field-button"
  .tweets-container
    = render "tweets/tweet"