.sidebar
  .sidebar__contents
    %h1.sidebar__contents__logo
      = link_to "kiyochan", root_path
    .sidebar__contents__list
      - if user_signed_in?
        %ul.sidebar__navi
          %li.sidebar__navi__li
            = link_to root_path, class: "header-navi" do
              = fa_icon "home", class: "header-icon__home"
              %p ホーム
          %li.sidebar__navi__li
            = link_to root_path, class: "header-navi" do
              = fa_icon "envelope", class: "header-icon"
              %p メッセージ
          %li.sidebar__navi__li
            = link_to root_path, class: "header-navi" do
              = image_tag src = 'goku.png', class: "header-icon__gazo", size: "27x27"
              %p マイページ
          %li.sidebar__navi__li__tweet
            = link_to root_path, class: "header-navi__tweet" do
              = fa_icon "send", class: "header-icon"
              %p 投稿する
      - else
        %ul.sidebar__navi__logout
          %li.sidebar__navi__li
            = link_to new_user_registration_path, class: "header-navi" do
              = fa_icon "address-card", class: "header-icon"
              %p 新規登録
          %li.sidebar__navi__li
            = link_to new_user_session_path, class: "header-navi" do
              = fa_icon "unlock-alt", class: "header-icon"
              %p ログイン